.header {
    background-color: var(--white);
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
    z-index: 1;
}

.header__menu-hamburguer {
    width: 24px;
    height: 24px;
    background-image: url("../img/menu.svg");
    background-repeat: no-repeat;
    background-position: center;
    display: inline-block;
    cursor: pointer;
}

.container{
    display: flex;
    align-items: center;
}

.container__img{
    padding: 1em;
}

.menu-list{
    display: none;
    position: absolute;
    top: 100%;
    width: 70vw;
}

.container__button {
    display: none;
}

.container__button:checked ~ .menu-list{
    display: block;
}

.container__title {
    display: none;
}

.menu-list__item, .menu-list__title{
    padding: 1em;
    background-color: var(--white);
    border-bottom: 1px solid var(--background-color);
}

.menu-list__title{
    color: var(--lead-gray);
    font-weight: 700;
}

.menu-list__link{
    background: var(--gradient-red);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    text-transform: uppercase;
}

.options {
    display: none;
}

.container__text {
    display: none;
}

@media screen and (min-width: 1024px) {
    .header {
        padding: 0.5em;
    }

    .container__title, .container__title--bold{
        font-family: var(--secondary-font-family);
        font-size: 30px;
    }

    .container__title{
        font-weight: 400;
        display: block;
        padding: 0 0.5em;
    }

    .container__title--bold{
        font-weight: 700;
        color: var(--red);
    }

    .options {
        display: flex;
    }

    .options__item {
        padding: 0 1em;
        text-transform: uppercase;
    }

    .options__link {
        color: var(--lead-gray);
    }

    .container__img-transparent {
        display: none;
    }

    .header__menu-hamburguer {
        display: none;
    }

    .options__button:checked ~ .menu-list{
        display: block;
        width: auto;
    }

    .options__button {
        display: none;
    }
}

@media screen and (min-width: 1728px) {
    .container__link {
        display: flex;
        align-items: center;
        color: var(--lead-gray);
    }

    .container__text {
        display: block;
    }

    .header {
        padding: 0 2em;
    }

    .options {
        margin-right: auto;
    }
}