@import url("header.css");
@import url("banner.css");
@import url("carousel.css");
@import url("topics.css");
@import url("contact.css");
@import url("footer.css");

:root {
    --background-color: #EBECEE;
    --white: #FFFFFF;
    --red: #C41018;
    --gradient-red: linear-gradient(97.54deg, #C41018 35.49%, rgb(0, 0, 0) 165.37%);
    --gradient-red-carousel: linear-gradient(260deg, #C41018 50.49%, rgb(0, 0, 0) 165.37%);
    --lead-gray: #1C252F;
    --gradient-lead-gray: linear-gradient(97.54deg, #1C252F 35.49%, rgb(83, 83, 83) 165.37%);

    --font-family: 'Mulish', sans-serif;
}

* {
    text-decoration: none;
}

body {
    background-color: var(--background-color);
    font-family: var(--font-family);
    font-size: 16px;
    font-weight: 400;
}